*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blogPage{
    background-image: url('/images/sandwich.jpg');
    /* opacity: 5; */
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

@media only screen and (max-width:768px){
    .text-area{
        margin: 0;
        padding: 0;
        text-align: justify;
    }
    
    }