*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#homePage{
    background-image: url('/images/espresso.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;

}

.text-area{
    background-color: white;
    color: black;
    margin: 50px;
    padding: 30px;
}